{% extends "base.html" %}

{% block title %}Platform Reports{% endblock %}

{% block content %}
    <h1>{{ data[0].platform }} Insights</h1>
    
    <table class="data-table">
        <thead>
            <tr>
                <th>Account Owner</th>
                <th>Platform</th>
                {% for key in data[0].insights[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for account in data %}
                {% for insight in account.insights %}
                    <tr>
                        <td>{{ account.account_name }}</td>
                        <td>{{ account.platform }}</td>
                        {% for value in insight.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <div class="btn-container">
        <a href="{{ url_for('reports_platform.download_platform_insights_data', platform_name=data[0].platform) }}" class="download-btn">
            Download CSV
        </a>
    </div>
{% endblock %}
